* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    /* ปรับตามความสูงของ Navbar */
}


body {
    /* background-image: url(images/backgroundbody.png); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', 'Noto Sans Thai', sans-serif;
    min-height: 100vh;
    width: 100%;


}


nav {
    position: fixed;
    /* ทำให้แถบเมนูคงที่ */
    height: 80px;
    background-color: #252525;
    color: white;
    width: 100%;
    /* ทำให้ navbar กว้างเต็มหน้าจอ */
    padding: 10px 0;
    /* เพิ่ม padding ให้ดูสวยงาม */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* backdrop-filter: blur(10px); ทำให้พื้นหลังเบลอ */
    z-index: 1000;
    /* ให้ Navbar อยู่เหนือทุกอย่าง */

}

.minimenu {
    display: flex;
    align-items: center;
    /* border: 2px solid white; */
    padding: 0 10px;

}

.minimenu a {
    color: white;
    text-decoration: none;
    margin-left: 10px;

}

.minimenu a {
    display: none;
}


nav .menuitem {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    width: 1400px;
    padding: 0 50px;
    color: white;

}

.iconnav i {
    display: none;

}

.iconnav i {
    font-size: 30px;

}

.iconnav :hover {
    transform: rotate(90deg);

}

.logo1 {
    display: none;
}


.iconnav {
    display: none;
    display: flex;
    align-items: center;

}

nav .navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    /* border: 2px solid white; */
    font-size: 20px;

}



.navbar a {
    color: white;
    text-decoration: none
}

.navbar :hover {
    background: linear-gradient(90deg, #d400ff, #8000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: bold
}



@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

nav .logo {
    /* border: 2px solid white; */
    font-size: 30px;
    font-family: 'Finger Paint', cursive;
    background: linear-gradient(90deg, #d400ff, #8000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


nav .logo1 {
    /* border: 2px solid white; */
    font-size: 30px;
    font-family: 'Finger Paint', cursive;
    background: linear-gradient(90deg, #d400ff, #8000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* 
.unstext ,.unstitle {
    display: none;
} */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1080px;
    /* ใช้ min-height แทน */
    margin-top: 80px;
    /* ให้เนื้อหาห่างจาก nav */
    background-size: cover;
    /* ทำให้ภาพเต็มพื้นที่ */
    background-position: center;
    /* จัดให้อยู่ตรงกลาง */
    background-repeat: no-repeat;
    /* ป้องกันการซ้ำ */
    background-image: url(images/backgroundbody.png);
}

.conthome {
    display: flex;
    width: 1400px;
    height: 950px;
    margin-top: 20px;
}


.contname {
    flex-grow: 1;
    color: white;
    margin-left: 100px;
}

.engname {
    width: 100%;
    font-size: 80px;
    font-weight: bold;
    margin-left: 120px;
    margin-top: 300px;
    /* ให้เนื้อหาห่างจาก nav */
}

.thname {
    width: 100%;
    font-size: 50px;
    margin-left: 120px;

}


.contphotome {
    flex-grow: 0;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photome img {
    width: 200px;
    height: 500px;
    background-color: aliceblue;

}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(130deg, #222323, #222323, #222323, #301B38, #371742);
    /* background-color: #252525; */
    width: 100%;
    height: 770px;
}

.contpsn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    /* background-r: #868686; */
    width: 1400px;
    height: 770px;
    /* padding: 0 100px; */
}

.boxtitle {
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}


.boxph {
    display: flex;
    justify-content: end;

}

.boxpsn {
    color: white;
}

.psntext {
    display: flex;
    margin-left: 80px;
    flex-direction: column;
    font-size: 30px;
    margin-top: 80px;
    line-height: 1.8;
}


.psnphotome img {
    width: 400px;
    height: 400px;
}


.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px;
    background: url(images/backgroundobj.png);
    background-size: cover;
    /* ทำให้ภาพเต็มพื้นที่ */
    background-position: center;
    /* จัดให้อยู่ตรงกลาง */
    background-repeat: no-repeat;
    /* ป้องกันการซ้ำ */
}

.contobj {
    width: 1400px;
    height: 650px;
}

.contobj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.objtitle {
    font-size: 64px;
    font-weight: bold;
}

.objtext {
    font-size: 25px;
    text-align: center;
    margin-top: 80px;

}

.container3 {
    display: flex;
    justify-content: center;
    background: linear-gradient(230deg, #222323, #222323, #222323, #301B38, #371742);
    width: 100%;
    height: 880px;
    color: white;
}

.contepr {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: auto auto;
    width: 1400px;
    height: 880px;


}

.eprtitle {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: bold;
    margin-top: 50px;

}

.eprtext {
    font-size: 25px;
    margin-left: 30px;
    margin-top: 40px;
}

.indent-li {
    text-indent: -35px;
    /* ลดระยะบรรทัดแรก */
    padding-left: 35px;
    /* ทำให้บรรทัดที่สองเริ่มจากจุดเดิม */
}

.eprph {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.eprph img {
    height: 500px;
    filter: drop-shadow(25px 15px 5px #161616);
}

.container4 {
    display: flex;
    justify-content: center;
    background-color: #222323;
    width: 100%;
    height: 690px;
    color: white;
}

.contedc {
    width: 1400px;
    height: 690px;
    display: grid;
    grid-template-columns: 2fr 0fr 2fr;
    /* ทำให้คอลัมน์ที่ 3 แคบลง */
    grid-template-rows: auto auto auto;

}

.edctitle {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    font-size: 64px;
    font-weight: bold;
    margin-top: 30px;
}

.edcuns {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.edcpts {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 1px 1px #161616);
}

.edchsc {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.unsicon img {
    height: 130px;
    width: auto;
    filter: drop-shadow(15px 10px 5px #161616);
}

.hscicon img {
    height: 130px;
    width: auto;
    filter: drop-shadow(15px 10px 5px #161616);
}

.unstitle {
    font-size: 48px;
    margin-top: 20px;
}

.hsctitle {
    font-size: 48px;
    margin-top: 20px;
}

.unstext {
    font-size: 30px;
    margin-top: 20px;
}

.hsctext {
    font-size: 30px;
    margin-top: 20px;
}

.container5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 1080px;
    background: linear-gradient(130deg, #222323, #222323, #222323, #301B38, #371742);
}

.contpj {
    width: 1400px;
    height: 1080px;

}

.pjtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    padding: 80px;
    font-weight: bold;
}

.pjlink {
    font-size: 30px;
    margin-left: 90px;
}

.pjph img {
    height: 580px;
    border-radius: 50px;
}

.pjph {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #222323;
    color: white;
    font-size: 16px;
}

footer a {
    color: yellow;
}

.adds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #222322;
    height: 100vh;
    width: 30%;
    margin-top: 80px;
    padding: 10px 10px;
    gap: 10px;
    display: none;
}


@media screen and (max-width: 1000px) {

    body {
        display: flex;
        align-items: flex-start;
        width: 100%;

    }

    nav .menuitem {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .logo1 {
        display: block;
        margin-left: 20px;

    }

    .sidebar a {
        color: white;
        text-decoration: none;

    }

    .minimenu a {
        display: none;
    }

    .navbar a {
        display: none;
    }



    .logo {
        display: none;

    }

    .iconnav i {
        display: block;

    }

    .container {
        display: flex;
        width: 100%;
        height: 850px;
        /* ใช้ min-height แทน */
        margin-top: 80px;
        /* ให้เนื้อหาห่างจาก nav */
        background-size: cover;
        /* ทำให้ภาพเต็มพื้นที่ */
        background-position: center;
        /* จัดให้อยู่ตรงกลาง */
        background-repeat: no-repeat;
        /* ป้องกันการซ้ำ */
        background-image: url(images/backgroundbody.png);
    }
    .conthome {
        display: flex;
        flex-direction: column-reverse;
        height: 90px;
        margin-top: 530px;

    }

    .contname {
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: 0;
    }

    .engname {
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        margin-top: 0px;
        margin-left: 0;
        text-align: center;
        margin-top: 50px;

    }

    .thname {
        width: 100%;
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
        margin-top: 5px;
    }

    .contphotome {
        padding-right: 0px;

    }

    .photome img {
        width: 140px;
        height: 350px;
        background-color: aliceblue;

    }


    .container1 {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(130deg, #222323, #222323, #222323, #301B38, #371742);
        /* background-color: #252525; */
        width: 100%;
        height: 300px;
    }
    
    .contpsn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        /* background-r: #868686; */
        height: 300px;
        /* padding: 0 100px; */
    }
    
    .boxtitle {
        display: flex;
        grid-column: span 2;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin-top: 20px;
      
    }
    
    
    .boxph {
        display: flex;

        justify-content: end;
        margin-right: 10px;
    }
    
    .boxpsn {
        display: flex;
        color: white;

    }
    
    .psntext {
        display: flex;
        margin-left: 10px;
        flex-direction: column;
        font-size: 10px;
        margin-top: 0px;
        line-height: 1.8;
    }
    
    
    .psnphotome img {
        width: 100px;
        height: 100px;
    }
}